.app-container {
    display: flex;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
}

#map-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #111;
}

.top-controls {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}