.app-container {
    position: relative;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
}

#map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #111;
}