@import url('./modals/base.css');
@import url('./modals/settings.css');
@import url('./modals/shortcuts.css');
@import url('./modals/lightbox.css');
@import url('./modals/list.css');
@import url('./modals/github.css');
@import url('./modals/integrity.css');
@import url('./modals/backup.css');