.completed-marker {
    opacity: 0.5 !important;
    filter: grayscale(100%) !important;
}

.region-label {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 2));
}

.region-polygon {
    transition: stroke-width 0.2s, fill-opacity 0.2s;
    pointer-events: visibleFill;
}

.region-label-icon {
    background: transparent;
    border: none;
}