<div id="related-modal" class="modal-overlay hidden">
    <div class="modal-content">
        <div class="modal-header">
            <h3 id="modal-title">관련 항목</h3>
            <button class="close-modal-btn" data-action="close-related-modal">&times;</button>
        </div>
        <div class="modal-search">
            <input type="text" id="modal-search-input" placeholder="리스트 내 검색...">
        </div>
        <div class="modal-body">
            <ul id="modal-list" class="modal-list-items">
            </ul>
        </div>
    </div>
</div>